section.about {
    padding-top: 120px;
    padding-bottom: 140px;

    .about {

        &__heading {
            text-align: center;
            margin-bottom: 60px;

            >* {
                max-width: 600px;
                margin: 0 auto;
            }
        }

        &__title {
            margin-bottom: 18px;
            font-size: var(--font--size--h-4);
            line-height: 1.5;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__image {

            img {
                max-width: 386px;
                height: auto;
                margin-left: 4.5%;
            }
        }

        &__item {
            padding: 30px 20px 15px 18px;
            box-shadow: var(--shadow--1);
            border-radius: 10px;
            display: flex;

            &:not(:last-of-type) {
                margin-bottom: 40px;
            }

            svg {
                margin-right: 17px;
                flex-shrink: 0;
            }

            &__title {
                margin-bottom: 12px;
                font-size: var(--font--size--h-6);
                font-weight: 600;
                line-height: 1.5;
                text-transform: uppercase;
            }

            &__text {
                margin-bottom: 0;
            }
        }
    }
}