section.banner {
    position: relative;
    min-height: 100vh;
    padding-top: 208px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    @include mq(min-sm) {
        padding-bottom: 53px;
    }

    .background-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        img {
            @include object-fit-cover;
        }
    }

    .row {
        align-items: center;
    }

    .banner {

        &__content {
            background-color: var(--color--white);
            padding: 30px 5px 14px 18px;
            margin-right: 15px;
            max-width: 570px;
            position: relative;
            margin-bottom: 60px;
            @include mq(min-sm) {
                margin-bottom: 0;
                padding: 14px 5px 14px 18px;
                margin-right: 35px;
            }
            @include mq(min-xmd) {
                margin-right: 50px;
                padding: 40px 20px 40px 30px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                z-index: -1;  
                height: calc(100% + 40px);
                border: 10px solid #7572FF;
                top: -20px;
                left: 20px;
                @include mq(min-sm) {
                    height: calc(100% + 100px);
                    border: 18px solid #7572FF;
                    top: -50px;
                    left: 50px;
                }
            }

        }

        &__heading {
            color: var(--color--blue);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 18px;
            font-size: var(--font--size--h-5);
            font-weight: 600;
            line-height: 1.5;
            @include mq(min-sm) {
                font-size: var(--font--size--h-4);
                font-weight: 700;
                line-height: 1.27;
            }
            @include mq(min-xmd) {
                font-size: var(--font--size--h-2);
            }
        }

        &__text {
            color: var(--color--gray);
            margin-bottom: 24px;
            max-width: 487px;
            @include mq(min-sm) {
                margin-bottom: 48px;
            }
        }

        &__subtitle {
            line-height: 1.5;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 17px;
            font-size: var(--font--size--h-6);
            @include mq(min-sm) {
                margin-bottom: 5px;
            }
            @include mq(min-xmd) {
                font-size: var(--font--size--h-5);
            }
        }

        &__buttons {
            display: flex;
            gap: 14px;

            img {
                width: 108px;
                height: auto;
                @include mq(min-xs) {
                    width: 150px;
                }
            }
        }

        &__image {

            img {
                width: 122%;
                margin-left: 9.5%;
                max-width: 400px;
                @include mq(min-sm) {
                    margin-bottom: 18px;
                    width: 119%;
                    max-width: unset;
                }
            }
        }
    }
}