section.blog {
    padding-top: 60px;
    padding-bottom: 60px;
    @include mq(min-sm) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .blog {

        &__heading {
            margin-bottom: 37px;
            text-align: center;
            @include mq(min-sm) {
                margin-bottom: 60px;
            }
        }

        &__title {
            font-size: var(--font--size--h-5);
            font-weight: 600;
            line-height: 1.5;   
            text-transform: uppercase;
            margin-bottom: 23px;
            @include mq(min-sm) {
                font-size: var(--font--size--h-4);
                font-weight: 700;
            }
        }

        &__text {
            max-width: 600px;
            margin: 0 auto;
            line-height: 1.5;
        }

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;
            @include mq(min-sm) {
                gap: 30px;
                flex-direction: row;
                align-items: unset;
                justify-content: flex-start;
            }
        }

        &__item {
            border-radius: 10px;
            box-shadow: var(--shadow--1);
            background-color: var(--color--white);
            flex-grow: 0;
            overflow: hidden;
            max-width: 400px;

            &__image {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 68.6%;
                @include mq(min-sm) {
                    padding-bottom: 110%;
                }
                @include mq(min-xmd) {
                    padding-bottom: 61.6%;
                }

                img {
                    @include object-fit-cover;
                }
            }

            &__content {
                padding: 30px 16px 36px 18px;
                @include mq(min-xmd) {
                    padding: 40px 16px 36px 18px;
                }
            }

            &__title {
                font-size: var(--font--size--h-6);
                font-weight: 600;
                line-height: 1.5;
                text-transform: uppercase;
                margin-bottom: 18px;
                @include mq(min-sm) {
                    margin-bottom: 10px;
                }
            }

            &__text {
                margin-bottom: 28px;
            }

            &__link {
                font-size: 20px;
                line-height: 1.3;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: underline;
                color: #5851EA;
            }
        }
    }
}