section.download {
    padding-top: 22.5px;
    padding-bottom: 50px;
    @include mq(min-sm) {
        padding-top: 62px;
        padding-bottom: 152px;
    }

    .download {

        &__heading {
            font-size: var(--font--size--h-5);
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.5;
            margin-bottom: 19px;
            @include mq(min-sm) {
                font-size: var(--font--size--h-4);
                font-weight: 700;
            }
            @include mq(min-xmd) {
                margin-bottom: 0;
            }
        }

        &__text {
            margin-bottom: 43px;
            @include mq(min-xmd) {
                margin-bottom: 33px;
            }
        }

        &__buttons {
            display: flex;
            gap: 25px;
            margin-bottom: 57px;
            @include mq(min-sm) {
                margin-bottom: 37px;
            }
            @include mq(min-xmd) {
                margin-bottom: 55px;
            }

            img {
                width: 150px;
                height: auto;
            }
        }

        &__tiles {
            display: flex;
            gap: 18px;  
            @include mq(min-md) {
                gap: 30px;
            }
        }

        &__tile {
            padding: 12px 3px 12px;
            color: var(--color--white);
            background-color: var(--color--blue);
            border-radius: 5px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @include mq(min-md) {
                padding: 30px 3px 25px;
                border-radius: 10px;
            }

            img {
                margin-bottom: 8px;
                width: 18px;
                height: 18px;
                @include mq(min-xmd) {
                    margin-bottom: 18px;
                    width: 35px;
                    height: 35px;
                }
            }

            &__value {
                font-weight: 600;
                font-size: var(--font--size--h-6);
                margin-bottom: 10px;
                @include mq(min-md) {
                    margin-bottom: 22px;
                    font-size: 25px;
                }
            }

            &__label {
                @include mq(min-md) {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }

        &__left {
            margin-top: 18px;
        }

        &__right {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: 65px;
            @include mq(min-sm) {
                margin-top: 0;
            }
            @include mq(min-xmd) {
                align-items: flex-start;
            }

            img {
                max-width: 100%;
                height: fit-content;
            }
        }
    }
}