section.features {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    @include mq(min-sm) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .background-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        img {
            @include object-fit-cover;
        }
    }

    .features {

        &__heading {
            margin-bottom: 30px;
            text-align: center;
            color: var(--color--white);
            @include mq(min-sm) {
                margin-bottom: 60px;
            }

            >* {
                max-width: 600px;
                margin: 0 auto;
            }
        }

        &__title {
            margin-bottom: 18px;
            font-size: var(--font--size--h-5);
            font-weight: 600;
            line-height: 1.5;
            text-transform: uppercase;
            @include mq(min-sm) {
                font-size: var(--font--size--h-4);
                font-weight: 700;
            }
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
            @include mq(min-sm) {
                align-items: flex-end;
                gap: 50px;
            }
            @include mq(min-xmd) {
                justify-content: space-evenly;
                padding-right: 49px;
            }

            .features__item {
                align-items: center;
                text-align: center;
                @include mq(min-sm) {
                    align-items: flex-end;
                    text-align: right;
                }
            }
        }

        &__center {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
            margin-top: 60px;
            margin-bottom: 120px;
            @include mq(min-sm) {
                margin-top: 0;
                margin-bottom: 0;
            }

            .features__item {
                align-items: center;
                text-align: center;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            @include mq(min-sm) {
                align-items: flex-end;
            }
            @include mq(min-xmd) {
                justify-content: space-evenly;
                padding-right: 49px;
            }

            .features__item {
                align-items: center;
                text-align: center;
                @include mq(min-sm) {
                    align-items: flex-start;
                    text-align: left;
                }
            }
        }

        &__content {

            &.mobile {
                @include mq(min-sm) {
                    display: none;
                }
            }

            &.desktop {
                display: none;
                @include mq(min-sm) {
                    display: flex;
                }
            }
        }

        &__image {
            box-shadow: 40px 40px 100px rgba($color: #18303F, $alpha: .5);
            width: 63%;
            height: fit-content;
            max-width: 300px;
            @include mq(min-sm) {
                width: 100%;
                max-width: unset;
            }
        }

        &__item {
            color: var(--color--white);
            display: flex;
            flex-direction: column;

            img {
                margin-bottom: 30px;
                @include mq(min-sm) {
                    margin-bottom: 22px;
                }
            }

            &__title {
                margin-bottom: 18px;
                font-size: var(--font--size--h-6);
                line-height: 1.5;   
                text-transform: uppercase;
                font-weight: 600;
                @include mq(min-sm) {
                    font-size: var(--font--size--h-5);
                }

                &.small {
                    font-size: var(--font--size--h-6);
                }
            }

            &__text {
                max-width: 297px;
                margin-bottom: 0;
            }
        }
    }
}