section.screenshot {
    padding-top: 60px;
    padding-bottom: 22.5px;
    @include mq(min-sm) {
        padding-top: 120px;
        padding-bottom: 50px;
    }

    .screenshot {

        &__heading {
            text-align: center;
            margin-bottom: 60px;
        }

        &__title {
            margin-bottom: 17px;
            font-size: var(--font--size--h-5);
            line-height: 1.5;
            font-weight: 600;
            text-transform: uppercase;
            @include mq(min-sm) {
                margin-bottom: 23px;
                font-size: var(--font--size--h-4);
                font-weight: 700;
            }
        }

        &__text {
            max-width: 600px;
            margin: 0 auto;
        }

        &__slider {
            position: relative;
            margin-bottom: 60px;
        }
    }

    .swiper {
        overflow: visible;
        @include mq(min-sm) {
            overflow: hidden;
        }
        
        .mockup {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            z-index: 100;
            pointer-events: none;
            width: 225px;
            @include mq(min-xmd) {
                width: 315px;
            }
        }

        &-slide {
            width: fit-content;
            transform: scale(0.855);
            @include transition-3(transform, z-index, opacity);

            img {
                height: 444px;
                @include mq(min-xmd) {
                    height: 622px;
                }
            }

            &.to-right {
                transform: scale(0.855) translateX(72%);
                z-index: -1;
                opacity: 0.5;
            }

            &.to-left {
                transform: scale(0.855) translateX(-72%);
                z-index: -1;
                opacity: 0.5;
            }

            &-active {
                transform: scale(0.95) !important;
            }
        }

        &-button {

            &-prev,
            &-next {
                height: 84px;
                width: 84px;
                border-radius: 50%;
                border: 1px solid var(--color--blue);
                display: none;
                align-items: center;
                justify-content: center;
                @include mq(min-md) {
                    display: flex;
                }

                &::after {
                    content: unset !important;
                }

                svg {
                    height: 50px;
                    width: 50px;
                }
            }

            &-prev {
                background-color: var(--color--white);
                left: 0 !important;
                @include mq(min-lg) {
                    left: -50px !important;
                }
            }

            &-next {
                background-color: var(--color--blue);
                right: 0 !important;
                @include mq(min-lg) {
                    right: -50px !important;
                }
            }
        }

        &-pagination {
            bottom: -60px;

            &-bullet {
                width: 16px;
                height: 16px;
                margin: 0 9px !important;
                background-color: var(--color--blue) !important;
                opacity: 1 !important;
                position: relative;

                &-active {

                    &::after {
                        content: "";
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        border: 1px solid var(--color--blue);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                    }
                }
            }
        }
    }
}