footer {
    background-color: var(--color--black);
    color: var(--color--white);
    margin-top: 128px;

    .cta {
        margin-top: -128px;

        &__content {
            background-color: var(--color--white);
            border-radius: 30px;
            box-shadow: var(--shadow--2);
            padding: 57px 50px;
            display: flex;
            gap: 50px;
            color: var(--color--black);

            span.spacer {
                height: 117px;
                width: 4px;
                background-color: var(--color--gray);
            }
        }

        &__item {
            display: flex;
            align-items: center;
            width: 50%;
            @include hover-link-hidden;

            &__icon {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: var(--color--blue);
                margin-right: 18px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 40px;
                    width: 40px;
                }
            }

            &__text {
                font-size: 25px;
                line-height: 1.5;
            }
        }
    }

    .footer {
        padding-top: 131px;
        padding-bottom: 64px;

        &__logo {
            font-size: var(--font--size--h-4);
            font-weight: 700;
            line-height: 1.5;
            text-transform: uppercase;
        }

        &__text {
            max-width: 334px;
            margin-bottom: 38px;
            line-height: 1.5;
        }

        &__social {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 31px;

            a {
                display: block;

                svg {
                    height: 24px;
                    width: 24px;
                    fill: var(--color--white);
                }

                &:hover {

                    svg {
                        fill: var(--color--blue);
                    }
                }
            }

            span.spacer {
                display: block;
                height: 23px;
                width: 1px;
                background-color: var(--color--white);
            }
        }

        &__navigation {

            &__title {
                font-size: var(--font--size--h-5);
                font-weight: 600;
                line-height: 1.5;   
                text-transform: uppercase;
                margin-bottom: 11px;
            }
        }

        &__menu {
            
            ul {
                @include list-reset;
                display: flex;
                flex-direction: column;
                gap: 12px;
                
                a {
                    @include hover-link-hidden;
                    line-height: 1.5;
                }
            }
        }

        &__newsletter {

            &__title {
                font-size: var(--font--size--h-5);
                font-weight: 600;
                line-height: 1.5;   
                text-transform: uppercase;
                margin-bottom: 11px;
            }

            &__text {
                margin-bottom: 33px;
                max-width: 297px;
                line-height: 1.5;
            }

            form {
                position: relative;

                input {
                    font-family: var(--font-family--primary);
                    font-size: 1em;
                    width: 100%;
                    line-height: 1.5;
                    padding: 13px 50px 13px 18px;
                    border-radius: 4px;
                    border: 0;

                    &::placeholder {
                        color: var(--color--gray);
                    }
                }

                button {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    bottom: 2px;
                    width: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                    background-color: var(--color--blue);
                    border-radius: 4px;
                }
            }
        }
    }

    .footnote {

        &__text {
            position: relative;
            padding-top: 18px;
            padding-bottom: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: var(--layout--padding--col);
                left: var(--layout--padding--col);
                height: 1px;
                background-color: var(--color--white);
            }

            svg {
                margin-right: 18px;
            }
        }
    }
}