footer {
    background-color: var(--color--black);
    color: var(--color--white);
    margin-top: 70px;
    @include mq(min-xmd) {
        margin-top: 128px;
    }

    .cta {
        margin-top: -70px;
        @include mq(min-xmd) {
            margin-top: -128px;
        }

        &__content {
            background-color: var(--color--white);
            border-radius: 15px;
            box-shadow: var(--shadow--2);
            padding: 22px 18px;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: var(--color--black);
            gap: 22px;  
            @include mq(min-xs) {
                gap: 30px;
            }
            @include mq(min-sm) {
                flex-direction: row;
                align-items: unset;
            }
            @include mq(min-xmd) {
                border-radius: 30px;
                padding: 57px 50px;
                gap: 50px;
            }

            span.spacer {
                background-color: var(--color--gray);
                width: 117px;
                height: 4px;
                @include mq(min-sm) {
                    height: 106px;
                    width: 3px;
                }
                @include mq(min-xmd) {
                    height: 117px;
                    width: 4px;
                }
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include hover-link-hidden;
            @include mq(min-xs) {
                flex-direction: row;
            }
            @include mq(min-sm) {
                width: 50%;
            }

            &__icon {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: var(--color--blue);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-bottom: 21px;
                @include mq(min-xs) {
                    height: 60px;
                    width: 60px;
                    margin-right: 18px;
                    margin-bottom: 0;
                }
                @include mq(min-xmd) {
                    height: 100px;
                    width: 100px;
                }

                svg {
                    height: 20px;
                    width: 20px;
                    @include mq(min-xs) {
                        height: 24px;
                        width: 24px;
                    }
                    @include mq(min-xmd) {
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            &__text {
                line-height: 1.5;
                font-size: var(--font--size--h-6);
                font-weight: 600;
                text-transform: uppercase;
                @include mq(min-xs) {
                    font-size: 1rem;
                    font-weight: 400;
                    text-transform: none;
                }
                @include mq(min-xmd) {
                    font-size: 25px;
                }
            }
        }
    }

    .footer {
        padding-top: 59px;
        padding-bottom: 64px;
        @include mq(min-xmd) {
            padding-top: 131px;
        }

        &__logo {
            font-size: var(--font--size--h-4);
            font-weight: 700;
            line-height: 1.5;
            text-transform: uppercase;
        }

        &__text {
            max-width: 334px;
            margin-bottom: 38px;
            line-height: 1.5;
        }

        &__social {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;  
            margin-bottom: 45px;
            @include mq(min-sm) {
                gap: 19px;
                margin-bottom: 0;
            }
            @include mq(min-xmd) {
                gap: 31px;
            }

            a {
                display: block;

                svg {
                    height: 24px;
                    width: 24px;
                    fill: var(--color--white);
                }

                &:hover {

                    svg {
                        fill: var(--color--blue);
                    }
                }
            }

            span.spacer {
                display: block;
                height: 23px;
                width: 1px;
                background-color: var(--color--white);
            }
        }

        &__navigation {
            margin-top: 10px;
            margin-bottom: 50px;
            @include mq(min-sm) {
                margin-bottom: 0;
            }
            @include mq(min-xmd) {
                margin-top: 0;
            }

            &__title {
                font-size: var(--font--size--h-5);
                font-weight: 600;
                line-height: 1.5;   
                text-transform: uppercase;
                margin-bottom: 11px;
                @include mq(min-sm) {
                    font-size: var(--font--size--h-6);
                }
                @include mq(min-xmd) {
                    font-size: var(--font--size--h-5);
                }
            }
        }

        &__menu {
            
            ul {
                @include list-reset;
                display: flex;
                flex-direction: column;
                gap: 12px;
                
                a {
                    @include hover-link-hidden;
                    line-height: 1.5;
                }
            }
        }

        &__newsletter {
            margin-top: 10px;
            @include mq(min-xmd) {
                margin-top: 0;
            }

            &__title {
                font-size: var(--font--size--h-5);
                font-weight: 600;
                line-height: 1.5;   
                text-transform: uppercase;
                margin-bottom: 11px;
                @include mq(min-sm) {
                    font-size: var(--font--size--h-6);
                }
                @include mq(min-xmd) {
                    font-size: var(--font--size--h-5);
                }
            }

            &__text {
                margin-bottom: 33px;
                max-width: 297px;
                line-height: 1.5;
            }

            form {
                position: relative;
                max-width: 400px;

                input {
                    font-family: var(--font-family--primary);
                    font-size: 12.8px;
                    width: 100%;
                    line-height: 1.5;
                    padding: 13px 50px 13px 18px;
                    border-radius: 4px;
                    border: 0;
                    @include mq(min-xmd) {
                        font-size: 1em;
                    }

                    &::placeholder {
                        color: var(--color--gray);
                    }
                }

                button {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    bottom: 2px;
                    width: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                    background-color: var(--color--blue);
                    border-radius: 4px;
                }
            }
        }
    }

    .footnote {

        &__text {
            position: relative;
            padding-top: 18px;
            padding-bottom: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12.8px;
            font-weight: 300;
            @include mq(min-xs) {
                font-size: 1rem;
                font-weight: 400;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: var(--layout--padding--col--mobile);
                left: var(--layout--padding--col--mobile);
                height: 1px;
                background-color: var(--color--white);
                @include mq(min-sm) {
                    right: var(--layout--padding--col--desktop);
                    left: var(--layout--padding--col--desktop);
                }
            }

            svg {
                height: 18px;
                width: 18px;
                margin-right: 18px;
                @include mq(min-xs) {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}