header.header {
    position: fixed;
    top: 22px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9000;
    margin-top: 15px;
    @include transition-1(top);

    &::before {
        content: '';
        background-color: var(--color--blue);
        height: calc(100% - 30px);
        width: 100%;
        z-index: -1;
        position: absolute;
        top: -37px;
        transform: translateY(-100%);
        @include transition-1(transform);
    }

    .header {

        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color--white);

            a {
                @include hover-link-hidden;
            }
        }

        &__contact {
            display: flex;
            gap: 47px;

            a {
                display: inline-flex;
                align-items: center;
                
                svg {
                    margin-right: 18px;
                }
            }
        }

        &__socials {
            display: flex;
            gap: 30px;
            margin-right: 5px;
        }

        &__content {
            display: flex;
            height: 60px;
            margin-top: 15px;
            margin-bottom: 15px;
            position: relative;
            background-color: var(--color--white);
            border-radius: 5px;
            box-shadow: var(--shadow--1);
        }

        &__logo {
            height: 90px;
            width: 200px;
            flex-basis: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: var(--color--white);
            box-shadow: var(--shadow--1);

            img {
                height: 28px;
                width: auto;

                &.logo-light {
                    display: none;
                }
            }
        }

        &__menu {
            width: 100%;
            position: absolute;
            top: calc(100% + 15px);
            left: 0;
            right: 0;
            max-height: calc(100vh - 75px);
            background-color: var(--color--white);
            padding: 0 var(--layout--padding);
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            overflow-x: hidden;
            visibility: hidden;
            height: 0;
            text-transform: uppercase;
            font-weight: 600;
            transition: opacity var(--transition--duration) var(--transition--curve) .05s, height var(--transition--duration) var(--transition--curve) .05s, visibility var(--transition--duration) var(--transition--curve) .05s, padding var(--transition--duration) var(--transition--curve) .05s;
	        will-change: opacity, height, visibility, padding;
            @include mq(min-sm) {
                top: calc(100% + 20px);
                max-height: calc(100vh - 100px);
            }
            @include mq(min-xmd) {
                position: relative;
                top: unset;
                left: unset;
                right: unset;
                max-height: unset;
                background-color: transparent;
                padding: 0;
                flex-direction: row;
                justify-content: unset;
                overflow-x: visible;
                opacity: 1;
                visibility: visible;
                height: auto;
            }
            
            ul {
                @include list-reset;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: calc(50% - 100px);
                padding: 5px;
                height: 100%;
                @include mq(min-xmd) {
                    flex-direction: row;
                    gap: 40px;
                }

                &:first-of-type {
                    padding-left: 52px;
                }

                &:last-of-type {
                    @include mq(min-xmd) {
                        justify-content: flex-end;
                    }
                }

                li {

                    a {
                        @include hover-link-hidden;
                        font-size: 1.5rem;
                        @include mq(min-xmd) {
                            font-size: var(--font--size--h-6);
                        }
                    }

                    &.current-menu-item a,
                    &.active a {
                        text-decoration-color: currentColor;
		                text-underline-offset: .25em;
                    }

                    &.filled {
                        padding: 12px 15px 8px;
                        background-color: var(--color--blue);
                        border-radius: 5px;
                        color: var(--color--white);
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 5px;
                    }
                }
            }

            >* {
                opacity: 0;
                @include transition-1(opacity);
                @include mq(min-xmd) {
                    transition: unset;
                    will-change: unset;
                    opacity: 1;
                }
            }

            &.active {
                padding: 50px var(--layout--padding) var(--layout--padding);
                overflow-x: auto;
                opacity: 1;
                visibility: visible;
                height: 100vh;
                @include transition-4(opacity, height, visibility, padding);

                >* {
                    transition: opacity var(--transition--duration) var(--transition--curve) .05s;
                    opacity: 1;
                }
            }
        }

        &__cta {
            margin-top: 50px;
            @include mq(min-xmd) {
                margin-top: 0;
                margin-left: 50px;
            }
        }

        &__hamburger {
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: var(--layout--padding);
            background-color: transparent;
            border: 0;
            cursor: pointer;
            @include mq(min-xmd) {
                display: none;
            }

            &-icon {
                height: 2px;
                width: 40px;
                border-radius: 2px;
                background-color: var(--color--black);
                position: relative;
                @include transition-1(background-color);

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: var(--color--black);
                    border-radius: 2px;
                    top: -10px;
                    @include transition-1(transform)
                }

                &::after {
                    top: unset;
                    bottom: -10px;
                }
            }

            &.active {

                .header__hamburger-icon {
                    background-color: transparent;

                    &::before {
                        transform: rotate(45deg) translate(7px, 7px);
                    }

                    &::after {
                        transform: rotate(-45deg) translate(7px, -7px);
                    }
                }
            }
        }
    }

    &.active {
        top: 0;

        &::before {
            top: -15px;
            transform: translateY(0)
        }
    }
}