:root {
    // Fonts
    --font--family--primary: 'Josefin Sans', sans-serif;

    // Font sizes
    --font--size--h-1: 3.81em;
    --font--size--h-2: 3.052em;
    --font--size--h-3: 2.441em;
    --font--size--h-4: 1.953em;
    --font--size--h-5: 1.563em;
    --font--size--h-6: 1.25em;
    --font--size--normal: 1em;
    --font--size--small: 0.8em;
    
    // Colors
    --color--blue: #5956E9;
    --color--black: #232233;
    --color--gray: #6C6C72;
    --color--white: #FFFFFF;

    // Layout
    --layout--padding--mobile: 20px;
    --layout--padding--col--mobile: 10px;
    --layout--padding: 30px;
    --layout--padding--col: 15px;
    --layout--size: 1170px;

    // Transitions
    --transition--duration: 200ms;
    --transition--curve: cubic-bezier(.2,.75,.5,1);

    // Shadows
    --shadow--1: 0 1px 10px rgba(0, 0, 0, .1);
    --shadow--2: 0 10px 100px rgba(0, 0, 0, .24);
}