@import 'variables';
@import 'media-queries';
@import 'helpers';
@import 'grid';
@import 'header';
@import 'footer';
@import 'typography';
@import 'buttons';
@import 'onscroll';

@import 'sections/banner';
@import 'sections/about';
@import 'sections/features';
@import 'sections/screenshot';
@import 'sections/download';
@import 'sections/video';
@import 'sections/team';
@import 'sections/testimonials';
@import 'sections/blog';

* {

	&,
	&::before,
	&::after{
		box-sizing: inherit;
	}
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    @include mq(min-xmd) {
        scroll-padding-top: 100px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font--family--primary);
}

.main {
    $block: &;
    flex: 1 0 auto;
    flex-wrap: wrap;
    overflow: hidden;

    &--404 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        @include mq(min-sm) {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }

    p {

        &:empty {
            display: none;
        }

        a {
            @include hover-link-visible
        }
    }

    ul,
    ol {
        padding-left: calc(2rem + var(--layout--padding));
        padding-right: var(--layout--padding);
        max-width: calc(var(--layout--size) + (var(--layout--padding) * 2));
        margin-left: auto;
        margin-right: auto;
    }

    li:not(:last-child) {
        margin-bottom: 5px;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}